/*ESTILOS PARA LA LISTA DE MEDICOS*/

body{
    background-color: #f2f2f2;
}
/*Representa al contenedor principal*/
.contenedorLista{
  width: 85%;
  margin-left: 15%;
}

#contTituloLista, #conTablaLista{
  width: 90%;
  margin: 0px 5% 0 5%;
  padding: 2px 20px 2px;
  border:1px solid white;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 1px black;
}

#buscadorNombre{
  color:black;
  font-size: 14px;
  background-color:white;
  height: 35px;
  padding: 5px 0 5px 0;
  border: 1px solid black;
  border-radius: 10px;
}

#buscadorNombre{transition: 0.3s; /* Hace que las animaciones duren 0.3 segundos */}
#buscadorNombre:focus-within{box-shadow:5px 5px 5px grey;}

#buscadorFecha{transition: 0.3s; /* Hace que las animaciones duren 0.3 segundos */}
#buscadorFecha:focus-within{box-shadow:5px 5px 5px grey;}

#buscarNombre{
  width: 90%;
  height: 30px;
  border: none;
}   

#tMedicos{
    font-family: Arial, Helvetica, sans-serif;
}

#tMedicos th{
    width: 20%;
    background-color:#012e46;
    color:#fff;
}
#tMedicos td{
    border-bottom: 1px solid black;
    width: 20%;
}

#tMedicos tr:nth-child(even){background-color: #e8f5ff;}
#tMedicos tr:hover {background-color: #c3e3fd;}